body{
    /*background-color: black;*/
    /*height: 100vmin;*/
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    /*filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#003073', endColorstr='#029797');*/
    /*background-size: 100%;*/
    /*background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, #ffffff), color-stop(100%, #029797));*/
    /*background-image: -webkit-linear-gradient(135deg, #ffffff, #029797);*/
    /*background-image: -moz-linear-gradient(45deg, #ffffff, #029797);*/
    /*background-image: -ms-linear-gradient(45deg, #ffffff 0, #029797 100%);*/
    /*background-image: -o-linear-gradient(45deg, #ffffff, #029797);*/
    background-image: linear-gradient(90deg, #ffffff, #c0dffd, white);
    text-align: center;
    /*margin: 0px;*/
    /*overflow: hidden;*/
    font-family: InconsolataMedium, serif;

}
.home-about-info{
    width: 100%;
    height: 83.5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

.home-my-img-div{
    display: none;
}



.home-about-description{
    width: 50%;
    /*border: 1px solid red;*/
    height: 300px;
    /*padding: 0 0 0 2rem;*/
    display: flex;
    flex-wrap: wrap;
}
.home-p1{
    width: 100%;
    color: black;
    text-align: center;
    margin-top: 1rem;
}
.home-p1 :nth-child(1){
    font-size: 60px;
    padding: 0;
    margin: 0;
    color: black;
}
.home-p1 :nth-child(3){
    margin: 0;
    font-size: 20px;
}
.home-about-buttons{
    display: flex;
    width: 100%;
    height: 35px;
    /*border: 1px solid red;*/
    justify-content:center;
    column-gap: 1rem;
    /*color: white;*/
}
.home-button-item1{
    width: 140px;
    height: 35px;
    background-color: #3C9BDF;
    border-radius: 4px;
    color: white;
}
.home-button-item1:hover{
    width: 140px;
    height: 35px;
    background-color:#3C9BDF;
    box-shadow: 0 0.5px 3px #a2cdec;
    opacity: 0.9;
}
.home-button-item2{
    width: 140px;
    height: 35px;
    /*background-color: #fff;*/
    background-color: inherit;
    border: 2px solid #3C9BDF;
    border-radius: 4px;
    box-sizing: border-box;
    color: #3C9BDF;
    /*box-shadow: 0 1px 10px #3fd26e;*/
}
.home-button-item2:hover{
    width: 140px;
    height: 35px;
    box-shadow: 0 0.5px 3px #a2cdec;
    opacity: 0.9;
}
.about-me-button1{
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    cursor:pointer;
    color: #fff;
    font-size: 18px;
    font-family: InconsolataMedium, serif;
}
.about-me-button2{
    border: none;
    background: none;
    /*background-color: ;*/
    width: 100%;
    height: 100%;
    cursor:pointer;
    color: #3C9BDF;
    font-size: 18px;
    font-family: InconsolataMedium, serif;
}
.about-img{
    margin-left: -150px;
    border: 5px solid #183c60;
    box-shadow: 0 0 10px #183c60;
    border-radius: 50%;
    background-color: #183c60;
}

.home-abstract-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 1px;
}
.home-social-icon-div{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.github-icon{
    width: 50px;
    height: 50px;
}
.github-icon:hover{
    opacity: 0.85;
}
.github-icon img{
    width: 100%;
}

@media screen and (min-width: 0) and (max-width: 768px){

    .home-my-img{
        /*border: 1px solid red;*/
        border-radius: 50%;
        height: 100%;
        width: 100%;
    }

    .home-my-img-div{
        /*display: none;*/
        width: 180px;
        height: 180px;
        margin-top: 3rem;
        border: 5px solid #183c60;
        border-radius: 50%;
        background-color: #183c60;
        box-shadow: 0 0 10px #183c60;
    }

    .home-about-info{
        width: 100%;
        height: calc(100vh - 100px);
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    .home-my-img-div{
        display: inline-block;
        margin-top: 2rem;
        margin-bottom: -1rem;
    }
    .home-about-description{
        width: 100%;
        height: 110%;
        padding: 5px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .home-p1{
        height: 40px;
        margin-top: -2rem;
    }
    .home-social-icon-div{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .home-p1 :nth-child(1){
        font-size: 25px;
        padding: 0;
        margin: 0;
        color: black;
    }
    .home-p1 :nth-child(3){
        margin-top: -7px;
        line-height: 16px;
        font-size: 16px;
    }

    .home-about-buttons{
        display: flex;
        width: 100%;
        height: 35px;
        margin-top: 20px;
        margin-bottom: -20px;
        /*border: 1px solid red;*/
        justify-content:center;
        column-gap: 20px;
        /*color: white;*/
    }

    .home-button-item1{
        width: 140px;
        height: 35px;
        background-color: #3C9BDF;
        border-radius: 4px;
        color: white;
        margin-right: 5px;
    }

    .home-button-item2{
        width: 140px;
        height: 35px;
        background-color: #fff;
        border: 2px solid #3C9BDF;
        border-radius: 4px;
        box-sizing: border-box;
        color: #3C9BDF;
        margin-right: 5px;
    }

    .about-img{
        display: none;
    }

    .home-social-icon-div{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        gap: 1.3rem;
    }

    .github-icon{
        width: 60px;
        height: 60px;
        margin: 0 5px 0 5px;
    }

    .github-icon img{
        width: 100%;
    }
}



