.container{
    min-width: 100vmin;
    height: 10vh;
    margin: 0 auto;
    padding: 0 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    box-shadow: 0 1px 100px #000;
}

.navbar-brand{
    font-size: 32px;
    color: #c0bebe;
    text-decoration: none;
    display: flex;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    white-space: nowrap;
}

.my-links{
    width: 100%;
    height: 100%;
}
.my-navbar-nav{
    height: 100%;
    list-style: none;
    display: flex;
    justify-content:flex-end;
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;

}
.my-nav-item{
    margin-left: 3.4rem;
}
.my-nav-item a{
    text-decoration: none;
    color: #c0bebe;
    font-size: 20px;
}

.navbar-logo{
    width: 45px;
    height: 45px;
    margin-top: 27px;
}

.github-icon{
    width: 30px;
    height: 30px;
}