
.blog-container {
    /*background-color: #3C9BDF;*/
    box-sizing: border-box;
}

.part1{
    /*border: 1px solid;*/
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    box-sizing: border-box;
    position: relative;
}

.my-channel{
    padding: 10px;
    position: fixed;
    top: 11rem;
    right: 4rem;
    margin-left: 1rem;
    width: 300px;
    height: 100px;
    /*background-color: #3C9BDF;*/
}

.blog-links {
    margin-right: 15rem;
    width: 800px;
    /*height: 100px;*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog-links a{
    text-decoration: none;
    text-decoration-thickness: unset;
    text-decoration-style: unset;
    text-decoration-color: white;
}

.blog-links a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.blog {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-bottom: 1rem;
    /*border-top: 2px solid !important;*/
    border: 1px solid;
}

.blog div:nth-child(1){
    /*border: 1px solid red;*/
    width: 500px;
}
.blog div:nth-child(2){
    padding: 1rem;
    /*border: 1px solid red;*/
    width: 70%;
}

.blog img{
    object-fit: contain;
    margin-right: 15rem;
    /*border: 1px solid;*/
    width: 100%;
    height: 100%;
    vertical-align: center;
    aspect-ratio: auto;
}

.blog:hover{
    box-shadow: 0 3px #a8a8a8;
}

.blog-description{
    inline-size: 100%;
    overflow: hidden;
    height: 100px;
}