@font-face {
    font-family: "InconsolataMedium";
    src: local("InconsolataMedium") ,
     url("./fonts/Inconsolata/Inconsolata-Medium.ttf") format("truetype");
    /*font-weight: bold;*/
}

body {
    margin: 0;
    background-color: #ffffff !important;
    box-sizing: border-box;
    font-family: "InconsolataMedium", serif;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background: white;
}

::-webkit-scrollbar-thumb{
    background: #0d4367;
}

::-webkit-scrollbar-thumb:hover{
    background: #0a263a;
}